# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.pytest_cache/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.venv/
env/
ENV/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebooks
.ipynb_checkpoints/

# Celery
celerybeat-schedule
celerybeat.pid

# VSCode
.vscode/

# macOS specific
.DS_Store

# Other potential IDE/project settings
.idea/
